
/* Style the entire page */
*{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

:root{
    --rowHeight: 0px;
    --legendHeight: 800px;
    --legendColourRowHeight:100px;
    --legendLabelRowHeight:100px;

    --vtkBackgroundColour:rgb(255, 255, 255);
    --panelBackgroundColour:rgb(255, 255, 255);
}




body {font-family: 'Montserrat', sans-serif;}

/* Style the grid */
.wrapper {
    display: grid;
    grid-template-columns: 50vw 40px 40px auto;
    grid-template-rows: auto 1fr 1fr;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "a c  c  t"
        "a b1 b2 d"
        "a b1 b2 e";
    background-color: var(--vtkBackgroundColour);
    padding: 3px;
    grid-gap: 3px;
}

#viewer {
    grid-area: a;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh;
    grid-template-areas:
        "f g"
        "h i";
}
.control {
    min-width: 250px;
    grid-area: d;
    background-color: var(--panelBackgroundColour);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.obj-manager {
    grid-area: e;
    background-color: var(--panelBackgroundColour);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#tabContainer {
    grid-area: t;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.alignViewContainer {
    margin: 1px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(150, 150, 150);
}
#topLeftViewer {
    grid-area: f;
}
#topRightViewer {
    grid-area: g;
}
#bottomLeftViewer {
    grid-area: h;
}
#bottomRightViewer {
    grid-area: i;
}
#mainViewer {
    grid-area: 1 / 1 / span 2 / span 2;
}



/*Loading screen*/
#loadingScreen {
    position: absolute;
    display: block;
    background-color: rgba(220, 220, 220, 0.98);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    pointer-events:all;
}
@keyframes loading {
    from {
        background-color: rgba(220, 220, 220, 0.98);
        pointer-events: all;
    }
    to {
        background-color: rgba(50, 50, 50, 0);
        pointer-events:none;
    }
}
#loadingLogo {
    width: 100vw;
    height: 100vh;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes loadingLogo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Scalar bar styling*/
#legend {
    background-color: var(--vtkBackgroundColour);
}
#keyLabel {
    grid-area: c;
    height: 60px;
    font-size: 16px;
    background-color: var(--vtkBackgroundColour);
}

#tick-legend{
    border-top: 2px solid #edeff1;
    border-right: 2px solid #edeff1;
    border-bottom: 2px solid #edeff1;
}
.my-legend{
    grid-area: b1;
    height: var(--legendHeight);
}
.tick-legend{
    padding-right: 50px;
    grid-area: c;
    width: 40px;
    border-top: 2px solid #edeff1;
    height: var(--legendHeight);
}
#colourList {
    margin: 0px;
    padding: 0px;;
    background-color: var(--vtkBackgroundColour);
}
#scaleContainer {
    background-color: var(--vtkBackgroundColour);
    grid-area: b2;
}
.colourLegend{
    height: var(--legendColourRowHeight);
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.tickLegend{
    height: var(--legendLabelRowHeight);
    font-size: x-large;
}
.bottomTick{
    height: 10px;
    width: 40px;
    font-size: x-large;
}
.tickUl{
    padding-top: 115px;
    padding-left: 0px;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 60px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #656565;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}




/* Style the control panel tab */
.tab {
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    white-space: nowrap;
    display: flex;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    box-shadow: none;
}
.tab button:hover {
    background-color: rgb(225, 225, 225);
}
.tab button.active {
    background-color: rgb(190, 190, 190);
    z-index:2;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
}
/* Add fade anitmation */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Object table styling */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(190, 190, 190);
}
.objectTableCell {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.objectTableRow:hover {
    background-color: #f2f2f2;
}


/* Overflow button styling*/
.overflowMenuCell {
    padding: 1px;
    width: 1px;
}
.objectOverflowButton {
    width: 50px;
    height: 100%;
    padding: 0;
    border: none;
    background: none;
}
.objectOverflowButton:after {
    content: '\2807';
}
.objectOverflowButton:hover {
    color: blue;
    cursor: pointer;
}
.objectOverflowButton:focus { outline: none; }

/* Overflow content (Hidden by Default) */
.overflowMenu {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.overflowContainer {
    /*position: relative;*/
    display: inline-block;
}



/* Button Styling */
button, input[type="button"], input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-size: 15px;
    border-color: #a9a9a9;
    border-style: solid;
    color: black;
    background: transparent;
    border-width: thin;
    border-radius: 6px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    text-align: center;
}
button:hover {
    background-color: #a9a9a9;
    color: white;
}


/* Control panel styling*/
.controlOptionLineContainer {
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    overflow: visible;
}

.targetDropdown {
    position: absolute;
    width: 100px;
    height: 80%;
    left: 80px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.targetColour {
    position: absolute;
    height: 80%;
    width: 25px;
    left: 190px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.targetOpacity {
    position: absolute;
    width: 100px;
    height: 80%;
    left: 225px;
}


/* Setting options container*/
.settingsOption {
    position: absolute;
    left: 150px;
}


/* Rotation and translation panel */
.axisIncrementButton {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: inline-flex;
    margin-left: 5px;
}
.buttonContainer {
    position: relative;
}
.axisTransformContainerRotation, .axisTransformContainerTranslation{
    /*margin-left:15px;*/
    /*margin-bottom:5px;*/
    /*margin-top:5px;*/
    display:block;
    padding: 5px;
}
/*.axisTransformContainerTranslation {*/
/*    !*margin-left:15px;*!*/
/*    !*margin-bottom:5px;*!*/
/*    !*margin-top:5px;*!*/
/*    display:block;*/
/*}*/
.axisTransformContainer {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 5px;
}
.axisContainer {
    position: relative;
    overflow: visible;
    display:inline;
}


/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    background-color: rgba(0.1, 0.1, 0.1, 0.5);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
    top: -5px;
    left: 130%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.axisTransformContainer:hover .tooltiptext {
    overflow: auto;
    visibility: visible;
}