
/* Style the entire page */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}



body {font-family: 'Montserrat', sans-serif;}

/* Style the grid */
.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100vw;
    height: 100vh;
}
.viewer {
    grid-column: 1 / span 6;
    grid-row: 1 / span 10;
}
.control {
    border-style: solid;
    border-width: thin;
    border-color: rgb(150, 150, 150);
    grid-column: 7 / span 4;
    grid-row: 1 / span 5;
}
.obj-manager {
    border-style: solid;
    border-width: thin;
    border-color: rgb(150, 150, 150);
    grid-column: 7 / span 4;
    grid-row: 6 / span 5;
}




/* Style the control panel tab */
.tab {
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    white-space: nowrap;
    display: flex;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.tab button:hover {
    background-color: rgb(225, 225, 225);
}
.tab button.active {
    background-color: rgb(190, 190, 190);
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(190, 190, 190);
    border-top: none;
}
/* Add fade anitmation */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Object table styling */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(190, 190, 190);
}
.objectTableCell {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.objectTableRow:hover {
    background-color: #f2f2f2;
}


/* Overflow button styling*/
.overflowMenuCell {
    padding: 1px;
    width: 1px;
}
.objectOverflowButton {
    width: 50px;
    height: 100%;
    padding: 0;
    border: none;
    background: none;
}
.objectOverflowButton:after {
    content: '\2807';
}
.objectOverflowButton:hover {
    color: blue;
    cursor: pointer;
}
button:focus { outline: none; }

/* Overflow content (Hidden by Default) */
.overflowMenu {
    display: none;
    position: absolute;
    right: 0px;
    /*bottom:5px;*/
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.overflowContainer {
    /*position: relative;*/
    display: inline-block;
}



/* Button Styling */
button, input[type="button"], input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
}


/* Control panel styling*/
.controlOptionLineContainer {
    position: relative;
    /*border-bottom: 1px solid grey;*/
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.targetDropdown {
    position: absolute;
    width: 100px;
    height: 80%;
    left: 80px;
    font-family: 'Montserrat', sans-serif;
}

.targetColour {
    position: absolute;
    height: 80%;
    width: 25px;
    left: 190px;
}

.targetOpacity {
    position: absolute;
    width: 100px;
    height: 80%;
    left: 225px;
}


/* Rotation and translation panel */
.rotateButton {
    position: relative;
    left: 30px;
    width: 30px;
    height: 30px;
    font-size: 15px;
}
.rotateContainer {
    position: relative;
    /*border-bottom: 1px solid grey;*/
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}