
section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    left: 50px;
    text-align: center;
    top:0;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0;
    background: transparent;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    /*background-color: rgba(0, 0, 0, 1);*/
    background: none transparent;
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.minScalarInputBox {
    z-index: 11;
    pointer-events: all;
    position: relative;
    left:0;
    top:20px;
    width:50px;
    height:auto;
}
.maxScalarInputBox {
    z-index: 11;
    pointer-events: all;
    position: relative;
    left:200px;
    top:20px;
    width:50px;
    height:auto;
}