/*
This styling is from https://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
*/

/* Slider styling */
.slideContainer {
    display: inline-flex;
    height: 100%;
}
input[type=range]{
    -webkit-appearance: none;
    height: 30px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: lightgray;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.1);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: seagreen;
    margin-top: -4px;
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.1);
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: lightgray;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.1);
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: seagreen;
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.1);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: lightgray;
}