certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django==2.1.15
django-allauth==0.39.1
django-bootstrap4==0.0.7
django-forms-bootstrap==3.1.0
idna==2.8
numpy==1.22.0
oauthlib==3.1.0
python3-openid==3.1.0
pytz==2018.9
requests==2.22.0
requests-oauthlib==1.2.0
urllib3==1.25.3
django-webpack-loader
git+https://github.com/abel-research/ampscan
uwsgi
