{% extends "base.html" %}

{% block content %}


{% comment %} Add icon {% endcomment %}

{% load static %}
<link href="{% static "test_app/style.css" %}" rel="stylesheet" type="text/css">
<script type="module">import newLookupTable from "{% static "test_app/lut.js" %}"; window.vtkNewLookupTable = newLookupTable;</script>

<div id="loadingScreen">
    <img src="{% static "test_app/AmpScanHeader.svg" %}" alt="Logo" id="loadingLogo">
</div>

<div id="processingScreen" style="z-index: 1; position: absolute">

</div>

<div style="z-index: 1; position: absolute">
    <img src="{% static "test_app/AmpScanLogo.svg" %}" alt="Logo" style="width:50px;height:50px;">
</div>


<div class="wrapper" id="wrapper">
    <div class="tab" id="tabContainer">
        <button class="tablinks" onclick="openTab(event.currentTarget, 'Home')" id="defaultTabOpen">Home</button>
        <button class="tablinks" onclick="openTab(event.currentTarget, 'Align')">Align</button>
        <button class="tablinks" onclick="openTab(event.currentTarget, 'Register')" id="registerTabButton">Register</button>
        <button class="tablinks" onclick="openTab(event.currentTarget, 'Analyse')">Analyse</button>
        <button class="tablinks" onclick="openTab(event.currentTarget, 'Settings')">Settings</button>
    </div>

    <div class="control" id="control" style="overflow:auto;">
         <div id="Home" class="tabcontent">
             <div class="controlOptionLineContainer" id="resetCameraContainer">
                <button onclick="resetCamera();">Reset Camera</button>
             </div>
        </div>

        <div id="Align" class="tabcontent">
            <div class="controlOptionLineContainer">
                Static: <select class="targetDropdown" id="alignStaticDropdown" onchange="updateDropdown()"></select>
                <input type="color" class="targetColour" id="alignStaticColour" value="#ff0000">
                <input type="range" class="targetOpacity" id="alignStaticOpacity" value="75" min="0" max="100">
            </div>
            <div class="controlOptionLineContainer">
                Moving: <select class="targetDropdown" id="alignMovingDropdown" onchange="updateDropdown()"></select>
                <input type="color" class="targetColour" id="alignMovingColour" value="#0000ff">
                <input type="range" class="targetOpacity" id="alignMovingOpacity" value="75" min="0" max="100">
            </div>
            <div class="controlOptionLineContainer" id="transformationContainer">

            </div>
            <div class="controlOptionLineContainer">
                <button onclick="runICP()" id="runICPButton">Run ICP</button>
                <button onclick="runCentre(true)" id="runCentreButton">Centre Global</button>
                <button onclick="runCentre(false)" id="runCentreButton">Centre Relative</button>
            </div>
            <div class="controlOptionLineContainer">
                <label for="sliceToggle">Slicing</label>
                <label class="switch">
                    <input type="checkbox" id="sliceToggle" onclick="sliceToggle()">
                    <span class="slider"></span>
                </label>

                <input type="range" id="sliceDistanceSlider" min="-200" max="200" oninput="updateSlices()">

            </div>
             <div class="controlOptionLineContainer" id="resetCameraContainer">
                <button onclick="resetCamera();">Reset Cameras</button>
             </div>
             <div class="controlOptionLineContainer">
                <button onclick="goToRegistration()" id="goToRegistrationButton">Go To Registration</button>
             </div>
        </div>

        <div id="Register" class="tabcontent">
            <div class="controlOptionLineContainer">
                Baseline: <select class="targetDropdown" id="registerBaselineDropdown" onchange="updateDropdown()"></select>
            </div>
            <div class="controlOptionLineContainer">
                Target: <select class="targetDropdown" id="registerTargetDropdown" onchange="updateDropdown()"></select>
            </div>
            <div class="controlOptionLineContainer">
                <button onclick="runRegistration()" id="runRegistrationButton">Run Registration</button>
            </div>

            <div class="controlOptionLineContainer">{# Add spacing#}</div>

            <div id="registrationControls" style="display:none">
                <div class="controlOptionLineContainer">
                    <label for="scalarMin">Min Deviation:</label>
                    <input type="number" id="scalarMin" value="-10" oninput="scalarsRangeChanged();" style="width:50px"><span>mm</span>
                </div>
                <div class="controlOptionLineContainer">
                    <label for="scalarMax">Max Deviation:</label>
                    <input type="number" id="scalarMax"  value="10" oninput="scalarsRangeChanged();" style="width:50px"><span>mm</span>
                </div>
                <div class="controlOptionLineContainer">
                    <button onclick="exportRegObject()" id="finishRegistrationButton">Finish Registration</button>
                </div>
            </div>

        </div>

        <div id="Analyse" class="tabcontent">
            <div class="controlOptionLineContainer">
                Target: <select class="targetDropdown" id="analyseTargetDropdown"></select>
            </div>
        </div>

        <div id="Settings" class="tabcontent">
            <label for="normsTickbox">Norms</label>
            <label class="switch">
                <input type="checkbox" id="normsTickbox" onclick="normsChange()">
                <span class="slider"></span>
            </label>

            <label for="edgesTickbox">Edge outlines</label>
            <label class="switch">
                <input type="checkbox" id="edgesTickbox" onclick="edgesChange()">
                <span class="slider"></span>
            </label>
        </div>
    </div>

    <div class="obj-manager" id="obj-manager" style="overflow-x:auto;overflow-y:auto;">
        <table id="objTable">
            <tr>
                <th class="objectTableCell">Name</th>
                <th class="objectTableCell">Show</th>
                <th class="objectTableCell">Type</th>
                <th class="objectTableCell"> </th>
            </tr>
        </table>
{#        <div id="overflowMenu" class="overflowMenu">#}
{#            <button>Save</button>#}
{#            <button>Remove</button>#}
{#        </div>#}
    </div>

    <div class="viewer" id="viewer">
        <div id="mainViewer"></div>
        <div class="alignViewContainer" id="topLeftViewer"></div>
        <div class="alignViewContainer" id="topRightViewer"></div>
        <div class="alignViewContainer" id="bottomLeftViewer"></div>
        <div class="alignViewContainer" id="bottomRightViewer"></div>

        <script type="text/javascript" src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vtk.js"></script>
        <script src="obj_viewer.js" type="text/javascript"></script>
    </div>

    <div id="legend" class="my-legend">

    </div>

    <div id="keyLabel">

    </div>

    <div id="scaleContainer">

    </div>
</div>

{# When everything is ready, fade out loading screen #}
<script>document.getElementById("loadingScreen").style["animation-name"] = "loading";</script>
<script>document.getElementById("loadingLogo").style["animation-name"] = "loadingLogo";</script>

{% endblock content %}