{% extends "base.html" %}

{% block content %}


{% comment %} Add icon {% endcomment %}

{% load static %}
<link href="{% static "test_app/style.css" %}" rel="stylesheet" type="text/css">

{% if not valid_file and file_loaded %}
{% comment %} If the file isn't valid, tell the user {% endcomment %}
<font size="3" color="red">Invalid file type</font>
{% endif %}

<div class="wrapper">
    <div class="control" id="control">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'File')" id="defaultTabOpen">File</button>
            <button class="tablinks" onclick="openTab(event, 'Align')">Align</button>
            <button class="tablinks" onclick="openTab(event, 'Register')">Register</button>
            <button class="tablinks" onclick="openTab(event, 'Analyse')">Analyse</button>
            <button class="tablinks" onclick="openTab(event, 'Settings')">Settings</button>
        </div>  
         <div id="File" class="tabcontent">
            <form name="upload_file" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="user_file">
                <button type="submit">Upload</button>
            </form>
        </div>

        <div id="Align" class="tabcontent">
        
        </div>

        <div id="Register" class="tabcontent">
            Register placeholder
        </div>

        <div id="Analyse" class="tabcontent">
            Analyse placeholder
        </div>

        <div id="Settings" class="tabcontent">
            Settings placeholder
        </div>
    </div>

    <div class="viewer" id="viewer">
        <script type="text/javascript" src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vtk.js"></script>
        <script src="obj_viewer.js" type="text/javascript"></script>

    </div>

    <div class="obj-manager" id="obj-manager"></div>
</div>
{% comment %} <div class="grid-container">
    <div class="object-manager">
        3
    </div>
    <div class="control-panel">
    </div>
</div> {% endcomment %}



{% comment %} <div class="item3" id="viewer">
    <script type="text/javascript" src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vtk.js"></script>
    <script src="obj_viewer.js" type="text/javascript"></script>
</div> {% endcomment %}

{% endblock content %}